@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", system-ui, sans-serif;
  background: #fff7fb;
  color: #4b2e39;
}

* {
  box-sizing: border-box;
}